@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

 *{
    box-sizing: border-box;
 }

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav{
    background-color: #34495e;
    padding: .1em 0
}

.navItem{
    margin: .8em;
    display: flex;
    justify-content: space-around;
}

.navItem img{
    width: 12%;
    margin-right: 10px;
}

.navItem button{
    background-color: #34495e;
    color: white;
    text-decoration: none;
    font-size: 30px;
    top: 6%;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 300px;
}

.item{
        
    height: 92vh;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 10%;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    text-align: right;
    right: 4%;
    background-color: #0000009c;
    border-radius: 10%;
}

.fade {

    animation-name: fade;
    animation-duration: 1.5s;

}

  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.tabelaperiodicainformations{

    position: relative;
    height: 50vh;
    background-color: gray;

}

.footer{

    position: relative;
    height: 50vh;
    background-color: black;

}

.navItem button:hover{
    background-color: #314052;    
}

.shake {
    -webkit-animation-name: shake-7;
            animation-name: shake-7; }
  
  @-webkit-keyframes shake-7 {
    0%, 10%,  30%,  50%,  70% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%); }
    5%, 15%,  35%,  55%,  75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%); } }
  
  @keyframes shake-7 {
    0%, 10%, 30%, 50%, 70% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%); }
    5%, 15%, 35%, 55%, 75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%); } 
    }

.shake{   
        -webkit-animation-duration: 100ms;
        animation-duration: 100ms; }

.slow {
        -webkit-animation-duration: 1000ms !important;
        animation-duration: 1000ms !important; 
}

.center{
    text-align: center;
}