@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    
}

.navItem{
    background-color: #34495e;
}

.navItem img{
    width: 3%;
    margin: .5em;
}

.navItem a{
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: fixed;
    top: 6%;
    font-weight: bold;
    transform: translateY(-100%);
}