body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:#808e9b;
}

nav{
    background-color: #34495e;
    padding: .1em 0
}

.navItem{
    margin: .8em;
    display: flex;
    justify-content: space-around;
}

.navItem img{
    width: 12%;
    margin-right: 10px;
}

.navItem button{
    background-color: #34495e;
    color: white;
    text-decoration: none;
    font-size: 30px;
    top: 6%;
    font-weight: bold;
    border: none;
    text-align: center;
    width: 300px;
}

.navItem button:hover{
    background-color: #314052;    
}

.shake {
    -webkit-animation-name: shake-7;
            animation-name: shake-7; }
  
  @-webkit-keyframes shake-7 {
    0%, 10%,  30%,  50%,  70% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%); }
    5%, 15%,  35%,  55%,  75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%); } }
  
  @keyframes shake-7 {
    0%, 10%, 30%, 50%, 70% {
      -webkit-transform: translateX(1%);
              transform: translateX(1%); }
    5%, 15%, 35%, 55%, 75% {
      -webkit-transform: translateX(-1%);
              transform: translateX(-1%); } 
    }

.shake{   
        -webkit-animation-duration: 100ms;
        animation-duration: 100ms; }

.slow {
        -webkit-animation-duration: 1000ms !important;
        animation-duration: 1000ms !important; 
}

.periodo {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;   
}

.periodos {
    display: flex; 
    flex-wrap: wrap; 
}

.period {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;   
}
  
  .periodo > div {
    width:69px;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.periodos > div {
    background-color: #f1f1f1;
    width: 70.5px;
    margin: 3px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.period > div {
    width: 69px;
    margin: 3px;
    margin-top: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.periodo > .naometais{
    background-color: green;
}

.periodos > .naometais{
    background-color: green;
}

#gasosos{
    color: brown;
}

#liquidos{
    color: darkblue;
}

#desconhecidos{
    color: grey;
}

.periodo > .gasesnobres{
    background-color: blue;
}

.periodos > .gasesnobres{
    background-color: blue;
}

.periodo > .metaisalcalinos{
    background-color: orange;
}

.periodos > .metaisalcalinos{
    background-color: orange;
}

.periodo > .metaisalcalinoterrosos{
    background-color: yellow;
}

.periodos > .metaisalcalinoterrosos{
    background-color: yellow;
}

.periodo > .metaistransicao{
    background-color: burlywood;
}

.periodos > .metaistransicao{
    background-color: burlywood;
}

.periodo > .semimetais{
    background-color: greenyellow;
}

.periodos > .semimetais{
    background-color: greenyellow;
}

.periodo > .metaispostransicao{
    background-color: yellowgreen;
}

.periodos > .metaispostransicao{
    background-color: yellowgreen;
}

.periodos > .lantanoides{
    background-color: orangered;
}

.period > .lantanoides{
    background-color: orangered;
}

.periodos > .actinoides{
    background-color: palevioletred;
}

.period > .actinoides{
    background-color: palevioletred;
}